d2l/d2l-zh
dataget_scRNAseq/data/soupx

multi_annotation_scRNAseq/data/AT_root_SRP273996.rds
multi_annotation_scRNAseq/data/arabidopsis_thaliana.marker_fd.csv

enrich_scRNAseq/data/go-figure
enrich_scRNAseq/data/tomato
enrich_scRNAseq/data/enrichplot
enrich_scRNAseq/data/out.emapper.annotations.xlsx

GRN-hdWGCNA/data

GRN-pySCENIC/data


GRN-IReNA/data/E1_to_G2.txt
GRN-IReNA/data/G2_to_E1.csv

test_data/ERP132245.h5ad