d2l/d2l-zh
dataget_scRNAseq/data/soupx

multi_annotation_scRNAseq/data/AT_root_SRP273996.rds
multi_annotation_scRNAseq/data/arabidopsis_thaliana.marker_fd.csv

enrich_scRNAseq/data/go-figure
enrich_scRNAseq/data/tomato
enrich_scRNAseq/data/enrichplot
enrich_scRNAseq/data/out.emapper.annotations.xlsx

GRN/GRN-IReNA/data

GRN-hdWGCNA/data

GRN-pySCENIC/data

GRN-IReNA/data/E1_to_G2.txt
GRN-IReNA/data/G2_to_E1.csv
GRN-IReNA/data/motif

multi_annotation_scRNAseq/data/20250613新Marker.xlsx
multi_annotation_scRNAseq/data/rice_leaf_marker_raw.xlsx
multi_annotation_scRNAseq/data/rice_leaf_marker.csv
multi_annotation_scRNAseq/data/rice_leaf_marker0614.csv

test_data/ERP132245.h5ad

DCS_training/data